[user]
	name = Your Name
	email = your@email
[core]
	editor = vim
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
[merge]
	ff = only
[push]
	default = current

